.supplier-info-flex {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 20px;
}
.supplier-info-item {
  background: linear-gradient(180deg, #F2F2F2 0%, #FFFFFF 100%);
  border: 1px solid #FFFFFF;
  border-radius: 12px;
  padding: 28px;
  width: 100%;
}
.supplier-info-header img {
    width: 110px;
    height: 110px;
    border: 1px solid #0000001A;
    border-radius: 50%;
}
.supplier-info-header {
    display: flex;
    align-items: center;
    gap: 20px;
}
.supplier_caption {
    font-weight: 600;
    line-height: 95%;
    text-transform: uppercase;
    color: #BCB88A;
}
.supplier_heading {
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
}
.supplier-info-header {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #0000001A;
}
.supplier--content {
    color: #474644;
}
.supplier--buttons {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 25px;
}


@media (max-width:767px){
  .supplier-info-flex {
    justify-content: flex-start;
    overflow: scroll;
  }
  .supplier-info-main-child {
    padding: 0 20px;
  }
  .supplier-info-item {
    padding: 12px;
    min-width: 85%;
  }
  .supplier_heading {
    font-size: 20px;
  }
  .supplier_caption{
    font-size: 12px;
  }
  .supplier-info-header img {
    width: 72px;
    height: 72px;
  }
  .supplier-info-header{
    gap: 12px;
  }
  .supplier-info-header {
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
  .supplier--buttons {
    margin-top: 16px;
    gap: 12px;
  }
}